<?php
    $servername = "";
    $dbusername = "";
    $dbpassword = "";
    $dbname = "";
    $conn = mysqli_connect($servername, $dbusername, $dbpassword, $dbname);

    if (!$conn) {
        die("Connection failed: " . mysqli_connect_error());
    }
?>